@media (max-width: 600px){
    .title{ 
      position:absolute;
    }
    
}

tr{
    padding: 5px;
}

.title-container {
    background: #4648511c;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
}

.title{ 
    color: #616060;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding-top: 20px;
    vertical-align: bottom;
}

#logo{
    width:100%;
    max-width:100px;
    padding: 20px;
}

#registro{
    color: #616060;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    padding-top: 5px;
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

  #registro td, #registro th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #registro tr:nth-child(even){background-color: #f2f2f2;}
  
  #registro tr:hover {background-color: #ddd;}
  
  #registro th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #616060; 
    color: white;
  }

  .ordenar{
    cursor: pointer;

  }